button.btn-primary {
  background: var(--primary);
  border-style: none;
  font-size: 12px;
  padding: 2px 10px;
  color: black;
  border: 1px solid rgb(131, 131, 131);
  cursor: pointer;
  &:disabled {
    background: #999999 !important;
    transition: .3s linear;
   }
}