header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  text-transform: uppercase;
  -webkit-box-shadow: 2px 4px 21px -8px rgba(0,0,0,0.13); 
  box-shadow: 2px 4px 21px -8px rgba(0,0,0,0.13);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    text-align: center;
    h1 {
      font-size: 15px;
      font-weight: 600;
    }
  }

  .bars {
    width: 20px;
    height: 2px;
    background: #000000;
    border-radius: 10px;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    
    &::after, &::before {
      content: '';
      background: inherit;
      height: inherit;
      position: absolute;
      top: -10px;
      width: 25px;
      border-radius: inherit;
    }

    &::after {
      top: 10px;
      width: 15px;
    }
  }

  button {
    border-style: none;
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(90deg,#9b75e6, #654186);
    padding: 6px  20px;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 4px;
  }

  @media screen and (max-width: 768px) {
    button {
      display: none;
    }
  }
}