<div class="layer-fill">
  <div class="modal-default" (click)="stopPropagationModal($event)">
    <div class="modal-header">
      <h3>Add new directory</h3>
      <span (click)="close()">X</span>
    </div>
   <div class="modal-body">
     <form>
      <input [(ngModel)]="directory.name" type="text" name="directory" placeholder="Name directory">
      <input class="newTask" type="text" placeholder="Name task">
      <button [disabled]="!directory.name.length" (click)="fillFields()" class="btn-primary">Add plus</button>
      <input class="newTask" type="text" *ngFor="let task of fillTasks">
     </form>
   </div>
   <div class="modal-footer">
     <button (click)="createNewDirectory()" class="btn-primary" [disabled]="!directory.name.length">Create</button>
   </div>
  </div>
</div>