<div class="layer-fill">
  <div class="modal-default" (click)="stopPropagationModal($event)">
    <app-header-modal [title]="'Add new directory'"></app-header-modal>
   <div class="modal-body">
     <form>
      <input [(ngModel)]="directory.name" type="text" name="directory" placeholder="Name directory">
      <input class="newTask" type="text" placeholder="Name task">
      <app-button [disabled]="!directory.name.length" (click)="fillFields()" bgButton="{{bgButton$ | async}}" [text]="'Add plus'"></app-button>
      <input class="newTask" type="text" *ngFor="let task of fillTasks">
     </form>
   </div>
   <div class="modal-footer">
    <app-button [disabled]="!directory.name.length" (click)="createNewDirectory()" bgButton="{{bgButton$ | async}}" [text]="'Create'"></app-button>
   </div>
  </div>
</div>