@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import '../src/app/shared/mixins/mixin.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

body {
  height: 100vh;
  overflow-y: auto;
}

:root {
  --primary:#0277bd;
  --danger:#b71c1c;
}

.bg-green-primary {
  background: var(--primary);
}

.color-green-primary {
  color: var(--primary);
}

.color-danger {
  color: var(--danger);
}

.dark-mode {
  background: #353535 !important;
  @include transitionDarkMode;
}

.dark-mode-primary {
  background: #272727 !important;
  color: rgb(112, 111, 111);
  @include transitionDarkMode;
}

input[type="text"], input[type='password'] {
  border-style: none;
  outline: none;
  font-weight: 300;
  border: none;
  background: transparent;
  border-bottom: 1px solid #d8d8d8;
  padding: 0 0 0 10px;
}

button.btn-primary {
  background: var(--primary);
  color: white;
  border-style: none;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  &:disabled {
    background: #999999;
    transition: .3s linear;
   }
}

.layer-fill {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
}

.modal-default {
  overflow-y: auto;
  width: 300px;
  max-height: 350px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include shadow();
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}