<div class="container">
  <div class="wraper">
    <div class="title">
      <h2>Banco Safra</h2>
      <input [(ngModel)]="newTaskItem"  [style.width]="renderWidthNewTaskItem() + '%'" placeholder="Add new item">
      <button [disabled]="!newTaskItem.length || newTaskItem.length < 5" class="bg-green-primary">ADD ITEM</button>
    </div>
    <ul>
      <li *ngFor="let task of tasksList">
        <div>
          <button  [disabled]="task.done" (click)="editTask(task)">Edit</button>
          <button>Delete</button>
        </div>
        <span *ngIf="!task.editing" (click)="doneTask(task)" [ngClass]="{'task-done': task.done}">[{{ task.done ? 'x' : '' }}]</span>
        <p *ngIf="!task.editing" (click)="doneTask(task)" [ngClass]="{'task-done': task.done}" class="label">{{task.label}}</p>
        <textarea *ngIf="task.editing" type="text" [value]="task.label"></textarea>
        <button (click)="editTask(task)" class="bg-green-primary" *ngIf="task.editing">DONE</button>
      </li>
    </ul>
  </div>
</div>