.container {
  width: 100%;
  padding: 100px 0 30px 0;
  display: flex;
  justify-content: center;
  .wraper {
    width: 80%;
    height: 100%;
    .title {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-bottom: 20px;
      input {
        border-style: none;
        outline: none;
        font-weight: 300;
        border: none;
        line-height: 1;
        resize: none;
        background: transparent;
        border-bottom: 1px solid #d8d8d8;
        padding: 0 0 0 10px;
        max-width: 70%;
        min-width: 50%;
        position: relative;
        padding-bottom: 10px;
        top: 3px;
      }
      button {
        color: white;
        border-style: none;
        padding: 4px 10px;
        cursor: pointer;
        font-size: 12px;
        transition: .3s linear;
        margin-left: 20px;

        &:disabled {
          background: #999999;
          transition: .3s linear;
        }
      } 
      h2 {
        font-weight: 800;
        padding-bottom: 10px;
      }
    }
    ul {
      list-style: none;
      li {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        cursor: pointer;
        padding-bottom: 4px;
        align-items: center;
        div {
          display: flex;
          margin-right: 10px;
          button {
            padding-right: 10px;
            padding-top: 5px;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 12px;
            cursor: pointer;
            background: transparent;
            margin-left: 2px;
            color: var(--primary);
            border-style: none;
            padding: 0;
            position: relative;
            top: 2px;
            margin-right: 10px;
            &:disabled {
              opacity: .8;
              color: #c0c0c0;
            }
          }

          button:nth-of-type(2) {
            color: var(--danger);
          }
        }

        .label {
          font-weight: 500;
          font-size: 16px;
          text-transform: none;
        } 
        textarea {
          border-style: none;
          outline: none;
          margin: 0 10px;
          font-weight: 300;
          border: none;
          width: 100%;
          line-height: 1;
          background: transparent;
          border-bottom: 1px solid #c0c0c0;
        } 
        button {
          color: white;
          border-style: none;
          padding: 5px 10px;
          margin-left: 10px;
          cursor: pointer;
          position: relative;
          top: 5px;
          text-transform: none;
        }     
      }
      li span {
        margin-right: 10px;
        font-weight: 900;
        font-size: 20px;
      }
    }
  }
}

.task-done {
  font-style: italic;
  opacity: .2;
  text-decoration: line-through;
  font-size: 14px;
}