.container {
  width: 100%;
  padding: 100px 0 30px 0;
  display: flex;
  justify-content: center;
  .wraper {
    width: 80%;
    height: 100%;
    h2 {
      font-weight: 800;
      padding-bottom: 20px;
    }
    ul {
      list-style: none;
      li {
        display: flex;
        margin-bottom: 20px;
        cursor: pointer;
        align-items: center;
      }
      li span {
        margin-right: 10px;
        font-weight: 900;
        font-size: 20px;
      }
    }
  }
}

.task-done {
  font-style: italic;
  color: #43a047;
  text-decoration: line-through;
  font-size: 14px;
}