nav {
  width: 260px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #ffffff;
  z-index: 3;
  -webkit-box-shadow: 1px 2px 11px -6px rgba(0,0,0,0.37);
  -moz-box-shadow: 1px 2px 11px -6px rgba(0,0,0,0.37);
  box-shadow: 1px 2px 11px -6px rgba(0,0,0,0.37);
  padding: 10px;
  transition: .2s linear;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    p {
      font-weight: 900;
      cursor: pointer;
      text-transform: uppercase;
    }
    .close {
      font-weight: 900;
      cursor: pointer;
    }
  }

  .navigation-wraper {
    width: 100%;

    ul {
      padding-top: 20px;
      .icon {
        width: 20px;
        height: 20px;
        float: left;
        img {
          width: 100%;
        }
      }
      
      li {
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        font-size: 12px;
        padding-bottom: 15px;
        list-style: none;
        margin-left: 13px;
        position: relative;
        .sub-tasks {
          animation: .2s linear;
          display: none;
          p {
            padding: 5px;
            text-transform: none;
            color: #bdbdbd;
            font-weight: lighter;
          }
        }
        .show-sub-tasks {
          display: block;
        }

        span {
          font-size: 10px;
          font-weight: 900;
        }

        &::before {
          content: '';
          width: 7px;
          height: 7px;
          display: block;
          background-color: var(--primary);
          border-radius: 100%;
          position: absolute;
          left: -12px;
          top: 5px;
        }
      }
    }
  }
}

.showMenu {
  left: -100%;
}
